# Python
__pycache__/
*.pyc

# Virtual Envs
.venv/
env/
venv/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# API Keys / config
.env
config/settings.yaml

# Media
assets/audio/
assets/images/
assets/videos/
